/* geral */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #000;
  height: 100vh;
}
.interface{
  max-width: 1280px;
  margin: 0 auto;
}
.flex{
  display:flex;
}
.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(90, 90, 90);
  border: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
}
.btn-contato button:hover{
  box-shadow: 0px 0px 8px #c7c7c7;
  background-color: #c7c7c7;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

/* tags header */
header{
  padding: 0.2% 4%;
}
header > .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  max-width: 80px;
  max-height: 80px;
}

header a{
  color: #5a5a5a;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
header a:hover{
  color: #c7c7c7;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

/* tags main */
section.topo-do-site{
  padding: 40px 4%;
}
section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site .txt-topo-site h1{
  color: #d3d3d3;
  font-size: 38px;
}
.topo-do-site .txt-topo-site  p{
  color: #d3d3d3;
  margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
  position: relative;
  max-height: 350px;
  max-width: 350px;
}
.interface h2{
  color: #d3d3d3;
  font-size: 38px;
}

/*ESPECIALIDADES*/
.servicos {
  margin: 2.5rem 0
}

.servicos__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px
}

.servicos__item {
  position: relative;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 0 0 calc(33.33% - 21px);
  max-width: calc(33.33% - 21px);
  background: hsla(0, 0%, 46%, 0.568);
  border-radius: 18px;
  color: #d3d3d3;
  overflow: hidden;
  transition: .25s ease-in-out
}

.servicos__item:hover {
  background: #c7c7c7a2
}

.servicos__item.\--dark {
  background: #c7c7c7a2
}

.servicos__item .btn {
  margin-top: 1.15rem;
  padding: .65rem 1.5rem;
  font-size: .8125rem;
  line-height: 1;
  min-width: 65%
}

.servicos__item .btn:hover {
  background: #00545f
}

.servicos__title {
  margin-bottom: .35rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.05
}

.servicos__text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.35
}

.servicos__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%
}
/*ESPECIALIDADES*/

/*Page Sobre*/
.sobre h3{
color: #d3d3d3;
}
/*Page Sobre*/

/*Page Projects*/
.projects {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-direction: column;
}
iframe {
  -webkit-box-shadow: 0px -1px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px -1px 0px 0px rgba(255,255,255,1);
  box-shadow: 0px -1px 0px 0px rgba(255,255,255,1);
  border: none;
  position: relative;
  display:none;
  left: 15px;
  width: 97vw;
  height: 600px;
  margin-bottom: 5vh;
}
.card {
width: 160px;
height: 80px;
background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
border-radius: 20px;
transition: all .3s;
display: flex;
justify-content: space-around;
margin-top: 50px;
}
.card2 {
width: 160px;
height: 80px;
padding: 5px;
background-color: rgb(90, 90, 90);
border-radius:20px;
transition: all .2s;
justify-content: center;
align-items: center;
display: flex;
}
.card2 p{
  color: #b4b4b4;
}
.card2:hover {
transform: scale(0.98);
border-radius: 20px;
}
.card:hover {
box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
/* Dispositivos pequenos (telefones, 600px e abaixo) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Ajuste o tamanho da fonte para dispositivos menores */
  }

  header > .interface {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    padding: 10px;
  }

  .topo-do-site .flex {
    flex-direction: column;
    gap: 20px;
  }

  .topo-do-site .img-topo-site img {
    max-width: 100%;
    height: auto;
  }

  .servicos__list {
    display: flex;
    gap: 21px;
    flex-direction: column;
  }
  section.specialidades .servicos__item {
    flex: 0 0 calc(50% - 21px);
    min-width: 95vw;
    margin-left: 5vw;
  }
}

/* Tablets e dispositivos médios (768px e abaixo) */
@media only screen and (max-width: 768px) {
  .topo-do-site .txt-topo-site h1 {
    font-size: 32px;
  }

  section.specialidades .servicos__item {
    flex: 0 0 calc(50% - 21px);
    min-width: 95vw;
    margin-left: 5vw;
  }
}

/* Desktops médios e grandes (992px e abaixo) */
@media only screen and (max-width: 992px) {
  .topo-do-site .txt-topo-site h1 {
    font-size: 28px;
  }

  section.specialidades .servicos__item {
    flex: 0 0 calc(50% - 21px);
    min-width: 98vw;
    margin-left: 1vw;
  }
}

/* Desktops grandes (1200px e abaixo) */
@media only screen and (max-width: 1200px) {
  header > .interface {
    padding: 0.2% 2%;
  }
}
