*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: rgba(20, 73, 220, 0.274);
    font-family: "roboto", sans-serif;
}
h1{
    padding: 1rem;
}
h2{
    padding: 1rem;
}
img.foto-perfil{
    padding: 1rem 8rem;
    border-radius: 50%;
}
div{
    padding: 1rem;
}
ul{
    padding: 2rem;
}
p{
    padding: 1rem;
}
a{
    padding: 1rem;
}